* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-sizing: border-box;

}

body {
    font-family: "work sans ", sans-serif;
}

:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
}

html {
    scroll-behavior: smooth;
}

.parent {
    background-color: #eee;

}

.container {
    margin-left: auto;
    margin-right: auto;

    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }


}

@media (min-width: 1992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;

}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #aaa;
    margin-bottom: 5px;
    height: 4px;

}

.header .links .icon span:nth-child(1) {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:nth-child(3) {
    width: 100%;
}

.header .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .links ul {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #f6f6f6;
    list-style: none;
    padding: 0;
    display: none;
    min-width: 240px;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    right: 5px;
    top: -20px;

}

.header .links ul li a {
    display: block;
    padding: 15px;
    transition: 0.3s;
    color: #333;
    text-decoration: none;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.header .links:hover ul {
    display: block;
}

.landing {
    background-image: url(../image/686998.jpg);
    background-size: cover;
    height: calc(100vh - 67px);
    position: relative;
}

.intro-text {
    text-align: center;


    width: 320px;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-text h1 {
    color: var(--main-color);
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

.intro-text p {

    font-size: 18px;
    line-height: 1.8;
}

.feature {
    padding-bottom: 60px;
    padding-top: 60px;
    background-color: #f6f6f6;


}

.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.feature i {
    color: var(--main-color);
    font-size: 45px;

}

.feature .feat {
    text-align: center;
    padding: 20px;

}

.feature .feat h3 {
    font-weight: 800px;
    margin: 30px 0;
}

.feature .feat p {
    color: #777;
    line-height: 1.8;
    font-size: 16px;
}

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    text-align: center;
    color: #777;
    font-size: 18px;
    margin: -30px 0 0;
    line-height: 1.8;
}

@media (max-width: 767px) {

    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}

.Services {
    padding-top: 60px;
    padding-bottom: 60px;

}

.content-services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 60px 0;
    margin-top: 100px;
}

.col .srv i {
    flex-basis: 60px;
    color: var(--main-color);
    font-size: 32px;
}

.col .srv {

    margin-bottom: 50px;
    display: flex;

}





@media (max-width: 767px) {
    .Services .content-services .col .srv {
        flex-direction: column;
        text-align: center;
    }


}

@media (max-width: 767px) {
    .contact .content-contact .image {
        margin-top: 51px;
    }


}

.Services .content-services .col .srv .text {
    flex: 1;
}

.Services .content-services .col .srv .text h3 {
    margin: 0 0 20px;


}

.Services .content-services .col .srv .text p {
    color: #777;
    line-height: 1.8;
    font-weight: 300;
}

.Services .content-services .col .image {
    text-align: center;
    position: relative;


}

.Services .content-services .col .image::before {
    content: "";
    position: absolute;
    height: calc(100% + 100px);
    width: 94px;
    top: -50px;
    right: 0;
    background-color: var(--second-color);
    z-index: -1;
}

.Services .content-services .col .image img {
    width: 260px;

}

@media(max-width:1199px) {
    .Services .content-services .col .image::before {
        display: none;
    }
}

.Portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.Portfolio .content-portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.Portfolio .content-portfolio .col {
    background-color: white;
}

.Portfolio .content-portfolio .col img {
    max-width: 100%;
}

.Portfolio .content-portfolio .col .info {
    padding: 20px;
}

.Portfolio .content-portfolio .col .info h3 {
    margin: 0;
}

.Portfolio .content-portfolio .col .info p {
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}

.about {
    padding-top: 60px;
    padding-bottom: calc(60px + 50px);

}

.about .content-about {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}

.about .content-about .image {
    position: relative;
    width: 250px;
    height: 375px;
}

.about .content-about .image img {
    max-width: 100%;
}

.about .content-about .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    height: 300px;
    width: 100px;
    top: -25px;
    left: -20px;
    z-index: -1;

}

.about .content-about .image::after {
    content: "";
    position: absolute;
    height: 212px;
    width: 102px;
    border-bottom: 51px var(--main-color) solid;
    border-left: 60px var(--main-color) solid;
    z-index: -1;
    right: -128px;
    top: -26px;
}


.about .content-about hr {
    color: var(--main-color);
    border: 2px solid;
    width: 250px;
    display: inline-block;


}

.about .content-about .text {
    flex-basis: 583px;

}

.about .content-about .text p:first-child {
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 1.8;

}

.about .content-about .text p:last-child {
    color: #777;
    line-height: 1.8;
    margin-top: 5px;
}

.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}

.contact .content-contact {
    text-align: center;
    margin-top: 50px;


}

.contact .content-contact h2 {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 800;
    color: var(--second-color);
    letter-spacing: -2px;
}

.contact .content-contact a {
    color: var(--main-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 30px;
    display: block;
}

.contact .content-contact .social p {
    display: inline-block;
    font-size: 15px;
}

.contact .content-contact .social {
    margin-top: 20px;
}

.contact .content-contact .social i {
    color: var(--second-color);
}

.footer {
    background-color: var(--second-color);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 14px;
}

.footer span {
    color: var(--main-color);
    font-weight: bold;
}